@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,800;1,900&display=swap" rel="stylesheet');
/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}


/* Navbar styles */
.navbar {
    background-color: #007BFF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Center the content for demonstration purposes */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#id{
    padding: 0 9rem;
}
#id1{
    margin-top: 6rem;
    text-align: center;
}